<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Navigation bar</title>
  </head>
  <body>
    <header>
      <div id="brand"><a href="/">MyCompany</a></div>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/about">About</a></li>
          <li id="login"><a href="/login" >Login</a></li>
          <li id="signup"><a href="/signup">Signup</a></li>
        </ul>
      </nav>
      <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
          <li><a href="/home">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="/about">About</a></li>
          <li id="login"><a href="/login" >Login</a></li>
          <li id="signup"><a href="/signup">Signup</a></li>
        </ul>
      </div>
    </header>
    
    <div class="maincolumn">
        <div class="card">
          <h2 class="card-Title-Heading">TITLE HEADING</h2>
          <h5 class="card-Time">Title description, Dec 7, 2017</h5>
          <div class="card-fakeimg" style="height:200px;">Image</div>
          <p>Some text..</p>
          <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <div class="card">
            <h2 class="card-Title-Heading">TITLE HEADING</h2>
            <h5 class="card-Time">Title description, Dec 7, 2017</h5>
            <div class="card-fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
          <div class="card">
            <h2 class="card-Title-Heading">TITLE HEADING</h2>
            <h5 class="card-Time">Title description, Dec 7, 2017</h5>
            <div class="card-fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          </div>
    </div>
    <div class="maincolumn">
        <div class="card">
            <h2 class="card-Title-Heading">DETAILED HEADING</h2>
            <h5 class="card-Time">Title description, Dec 7, 2017</h5>
            <div class="card-fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <br>
            <div class="card-comments">
                <div class="card-comment-container">
                    <div class="card-user">
                        <div class="card-profile"></div>
                        <div class="card-profile-name">USER NAME</div>
                    </div>
                    <div class="card-comment">Comment, great picture Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</div>
                </div>
                <div class="card-comment-container">
                    <div class="card-user">
                        <div class="card-profile"></div>
                        <div class="card-profile-name">USER AMEusernameusername</div>
                    </div>
                    <div class="card-comment">Comment</div>
                </div>
            </div>
          </div>
    </div>


    <script>
        function toggleMobileMenu(menu) {
            menu.classList.toggle('open');
        }
    </script>
  </body>
</html>